/* Main Content */
main {
	margin-top: 60px;
	padding: 2rem;
	text-align: center;
}

/* Hero Section */
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-color: var(--color-blue);
	border-radius: 8px;
	color: var(--color-white);
	margin-bottom: 2rem;
	gap: 1rem;
}

.hero .hero-content {
	flex: 1;
	max-width: 50%;
}

.hero h1 {
	font-family: 'TT Chocolates', sans-serif;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.hero p {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.hero .buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.hero .buttons a {
	background-color: var(--color-white);
	color: var(--color-black);
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	padding: 0.75rem 1.5rem;
	border-radius: 5px;
	margin: 0.5rem;
	transition: background-color 0.3s ease;
}

.hero .buttons .btn:hover {
	background-color: var(--color-gold);
}

/* Hero Image */
.hero-image {
	margin-top: 1.5rem;
}

.hero-image img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	flex: 1;
	margin-left: 2rem;
}

@media (max-width-768px) {
	.hero-image img {
		margin-left: 0;
		max-width: 100%;
	}
}

/* Tools Section */
.tools {
	margin-top: 3rem;
}

.tools h2 {
	font-family: 'TT Chocolates', sans-serif;
	font-size: 2rem;
	color: var(--color-black);
	margin-bottom: 1.5rem;
}

.tool-cards {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
}

.tool-card {
	background-color: var(--color-white);
	border-radius: 8px;
	padding: 2rem;
	width: 30%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: box-shadow 0.3s ease;
}

.tool-card:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.tool-card i {
	font-size: 36px;
	color: var(--color-blue);
	margin-bottom: 1rem;
}

.tool-card h3 {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.5rem;
	color: var(--color-black);
	margin: 0.5rem 0;
}

.tool-card p {
	font-family: 'DM Sans', sans-serif;
	font-size: 1rem;
	color: var(--color-black);
}

@media (max-width: 768px) {
	.tool-card {
		width: 45%;
	}
}

@media (max-width: 480px) {
	.tool-card {
		width: 100%;
	}
}