.landing-container {
	display: flex;
}

.sidebar {
	width: 200px;
	padding: 20px;
	background-color: #d3dadb;
}

.sidebar-links {
	list-style-type: none;
	padding: 0;
}

.sidebar-links li a {
	text-decoration: none;
	color: var(--color-black);
	display: block;
	margin: 10px 0;
}

.sidebar-links li a:hover {
	color: var(--color-gold);
}

.welcome-section {
	flex: 1;
	padding: 20px;
}

.welcome-title {
	font-size: 2rem;
	margin-bottom: 20px;
}

.tool-cards {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
}

.tool-card {
	background-color: var(--color-white);
	border-radius: 8px;
	padding: 2rem;
	width: 30%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: box-shadow 0.3s ease;
}

.tool-card:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.tool-card i {
	font-size: 36px;
	color: var(--color-blue);
	margin-bottom: 1rem;
}

.tool-card h3 {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.5rem;
	color: var(--color-black);
	margin: 0.5rem 0;
}

.tool-card p {
	font-family: 'DM Sans', sans-serif;
	font-size: 1rem;
	color: var(--color-black);
}

@media (max-width: 768px) {
	.tool-card {
		width: 45%;
	}
}

@media (max-width: 480px) {
	.tool-card {
		width: 100%;
	}
}