h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}


.tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.tool-card {
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 2rem;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tool-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.tool-card .tool-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-blue);
}

.star {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
}

.star.checked {
    color: var(--color-gold);
}


.tool-card h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    color: var(--color-black);
    margin: 0.5rem 0;
}

.button-container {
    text-align: center;
    margin-top: 2rem;
}

.btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-gold);
}

@media (max-width: 750px) {
    .tool-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .tool-card {
        width: 100%;
    }
}